{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"printWidth": 100,
	"quoteProps": "as-needed",
	"semi": true,
	"singleAttributePerLine": true,
	"singleQuote": false,
	"tabWidth": 2,
	"trailingComma": "all",

	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
